config global 'global'
	option repo_fetch_url '${RULES_REPO_FETCH_URL}'
	option repo_push_url '${RULES_REPO_PUSH_URL}'
	option repo_branch '${RULES_REPO_BRANCH}'
	option repo_path '/etc/router-rules/repo'
	option rules_relpath 'lists/shared-targets.txt'
	option generated_dir '/etc/router-rules/generated'
	option ssh_key_path '/etc/router-rules/ssh/routerRules_ed25519'
	option known_hosts_path '/etc/router-rules/ssh/known_hosts'
	option git_user_name '${RULES_GIT_USER_NAME}'
	option git_user_email '${RULES_GIT_USER_EMAIL}'
	option dns_resolver '${RULES_DNS_RESOLVER}'
	option local_device_id '${RULES_DEVICE_ID}'
	option enable_push '${RULES_ENABLE_PUSH}'
	option consumer '${RULES_CONSUMER}'
	option xray_mode '${XRAY_RULES_MODE}'
	option xray_ipset 'xray_selective_dst'
	option xray_dnsmasq_conf '/tmp/dnsmasq.d/router-rules-xray-ipset.conf'
	option ss_package 'shadowsocks-libev'
	option ss_section 'ss_rules'
	option sync_interval '${RULES_SYNC_INTERVAL}'
