VPS_HOST=REPLACE_WITH_VPS_HOST
XRAY_UUID=REPLACE_WITH_XRAY_UUID
XRAY_SERVER_NAME=REPLACE_WITH_SERVER_NAME
XRAY_SHORT_ID=REPLACE_WITH_REALITY_SHORT_ID
XRAY_PRIVATE_KEY=REPLACE_WITH_REALITY_PRIVATE_KEY
