{
  "log": {
    "loglevel": "info",
    "access": "/var/log/xray/codex-xray-access.log",
    "error": "/var/log/xray/codex-xray-error.log"
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": ${PROXY_PORT},
      "protocol": "http",
      "settings": {},
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls"
        ]
      }
    },
    {
      "listen": "127.0.0.1",
      "port": ${LOCAL_SOCKS_PORT},
      "protocol": "socks",
      "settings": {
        "auth": "noauth",
        "udp": false
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
          "tls"
        ]
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "${XRAY_SERVER}",
            "port": ${XRAY_PORT},
            "users": [
              {
                "id": "${XRAY_UUID}",
                "encryption": "none"${XRAY_USER_FLOW_BLOCK}
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "raw",
        "security": "reality",
        "realitySettings": {
          "fingerprint": "chrome",
          "serverName": "${XRAY_SERVER_NAME}",
          "publicKey": "${XRAY_PUBLIC_KEY}",
          "shortId": "${XRAY_SHORT_ID}",
          "spiderX": "/"
        }
      }
    }
  ]
}
